body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #24292e; 
    color: white;
    padding: 2rem 0;
}

header h1, header p {
    font-family: 'Montserrat', sans-serif;
}

.profile-pic img {
    width: 120px;  
    height: 120px; 
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 4px solid #0366d6; 
    transition: transform 0.3s ease-in-out;
}

.profile-pic img:hover {
    transform: scale(1.1);
}

#icon1, #icon2, #icon3 {
    height: 36px;
    width: 36px;
    transition: transform 0.3s ease-in-out;
}

#icon1:hover, #icon2:hover, #icon3:hover {
    transform: scale(1.2);
}

h1 {
    margin: 0.5rem 0;
    color: #0366d6; 
}

main {
    padding: 2rem;
    padding-bottom: 6rem;
}

.about {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 8px;
}

h2 {
    color: #24292e; 
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
}

a {
    color: #0366d6; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #1c6feb; 
}

.social-resume-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.social-links, .resume {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    flex: 1 1 45%; 
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #24292e; 
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.rotate-hover {
    display: inline-block;
    transition: transform 0.3s ease;
}

.rotate-hover p{
    margin-top: 0.5rem;
}

.rotate-hover:hover {
    transform: rotate(5deg);
}

#c1,#c2,#c3 {
    font-size: 8px;
    text-align: right;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body.dark-theme {
    background-color: #222;
    color: #fff;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
